.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  /* max-width: 1120px; */
  margin: 0 auto;

}

.container1,
.container2,
.container3,
.container4,
.container5 {
  max-width: 1120px;
  margin: 0 auto;
}

nav,
header,
footer {
  background-color: #1f2937;
}


header p {
  font-size: 18px;
  color: #e5e7eb;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.logo p {
  font-size: 24px;
  color: #f9faf8;
}

li {
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-family: inherit;
  border: none;
  padding: 4px 24px;
  border-radius: 8px;
  margin-top: 8px;
}

.cta-blue {
  background-color: #3882f6;
}

.information {
  text-align: center;
  padding-top: 32px;
}

.main-text2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;

}

.quotes {
  background-color: #e5e7eb;
}

.quotes p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.nav-ul {
  display: flex;
  gap: 24px;
}

ul li {
  text-decoration: none;
  list-style: none;
}


.container2 {
  min-height: 500px;
  display: flex;
  align-items: center;
  gap: 56px;
}

.container3 {
  display: flex;
  padding-top: 32px;
  padding-bottom: 80px;
  justify-content: center;
  /* gap: 8px; */
}

.cart {
  max-width: 180px;
  font-weight: 200;
}

.card-img {
  border-radius: 16px;
  border: 4px solid #3882f6;
  margin-bottom: 4px;
}

.container4 {

  padding: 8% 12%;
  display: flex;
  flex-direction: column;
}

p.thor {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  align-self: flex-end;
  margin-right: 40px;
}

.container5 {
  margin: 4% 12%;

}

.cta-blue {
  min-height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cta p {
  color: #f9faf8;
  font-weight: 200;
}

.cta-blue .cta-header {
  font-weight: bold;
  font-size: 24px;
  color: #e5e7eb;
  font-weight: 500;
}

.cta button {
  border: 1px solid #e5e7eb;
}

footer {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  font-size: 12px;
}